<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>obstacle_avoidance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11BA3D542B7C2AA9006477A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11BA3D642B7C2AAC006477A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11BA3D6E2B7C2AAC006477A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
